<div id="corporate_bar">
  <%== render 'radius/masquerade_bar' %>

  <div class="corporate-bar-content">
    <span class="corporate-bar-brand">
      <a href="http://www.radiusnetworks.com">
        <img height="15" src="<%= image_path("corporate-bar-logo.png") %>">
        Radius Networks
      </a>
    </span>
    <ul class="corporate-bar-nav" style="float:right;">
      <li>
        <a href="http://store.radiusnetworks.com">
          <i class="fa fa-shopping-cart">
          </i>
          Shop
        </a>
      </li>
      <% if current_user %>
        <li>
        <a href="<%=kracken_url%>"> <i class="fa fa-user"></i> Account </a>
        </li>
        <li>
        <a href="<%=kracken_url%>/teams"> <i class="fa fa-users"></i> Teams </a>
        </li>
        <li>
          <a href="<%=sign_out_path%>"> <i class="fa fa-sign-out"></i> Sign Out </a>
        </li>
      <% else %>
        <li>
          <a href="<%=sign_in_path%>"> <i class="fa fa-sign-in"></i> Sign In </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
